## Problem Statement : Given a dataset of Baltimore which is a major city in Maryland , US. The dataset is about crime data , we have to analyze data , find insights from it and submit the report of its results.

# importing library

In [377]:
import pandas as pd

In [378]:
# file path and reading data
filename=("C:/Users/0863a/Downloads/BPD_Part_1_Victim_Based_Crime_Data.csv")
raw_data=pd.read_csv(filename)

In [379]:
# making a copy of data
data=raw_data.copy()

In [380]:
# observing data
data

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Weapon,Post,District,Neighborhood,Location 1,Total Incidents
0,06/18/2016,00:33:00,4E,2700 CHESLEY AVE,I,HANDS,424.0,NORTHEASTERN,North Harford Road,"(39.3679000000, -76.5555900000)",1
1,06/18/2016,00:39:00,4B,2700 FAIT AVE,O,KNIFE,232.0,SOUTHEASTERN,Canton,"(39.2831500000, -76.5783400000)",1
2,06/18/2016,0015,9S,2400 CYLBURN AV,Outside,FIREARM,532.0,NORTHERN,Levindale,"(39.3510400000, -76.6597600000)",1
3,06/18/2016,01:53:00,3AF,2300 ORLEANS ST,O,FIREARM,221.0,SOUTHEASTERN,McElderry Park,"(39.2955600000, -76.5844600000)",1
4,06/18/2016,02:05:00,6C,800 N WOLFE ST,I,NaN,321.0,EASTERN,Middle East,"(39.3002700000, -76.5909700000)",1
...,...,...,...,...,...,...,...,...,...,...,...
264491,01/01/2011,22:15:00,4D,6800 MCCLEAN BD,I,HANDS,423.0,NORTHEASTERN,Hamilton Hills,"(39.3704700000, -76.5670500000)",1
264492,01/01/2011,22:30:00,6J,3000 ODONNELL ST,I,NaN,232.0,SOUTHEASTERN,Canton,"(39.2804600000, -76.5727300000)",1
264493,01/01/2011,23:00:00,7A,2500 ARUNAH AV,O,NaN,721.0,WESTERN,Evergreen Lawn,"(39.2954200000, -76.6592800000)",1
264494,01/01/2011,23:25:00,4E,100 N MONROE ST,I,HANDS,714.0,WESTERN,Penrose/Fayette Street Outreach,"(39.2899900000, -76.6470700000)",1
264495,01/01/2011,23:38:00,4D,800 N FREMONT AV,I,HANDS,123.0,WESTERN,Upton,"(39.2981200000, -76.6339100000)",1

In [381]:
# checking shape of data
data.shape

(264496, 11)

In [382]:
# checking for null values in data
data.isnull().sum()

CrimeDate               0
CrimeTime               0
CrimeCode               0
Location             1804
Description          4051
Weapon             174663
Post                  210
District               61
Neighborhood         1873
Location 1           1802
Total Incidents         0
dtype: int64

In [383]:
# checking for dtype and null values in data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264496 entries, 0 to 264495
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CrimeDate        264496 non-null  object
 1   CrimeTime        264496 non-null  object
 2   CrimeCode        264496 non-null  object
 3   Location         262692 non-null  object
 4   Description      260445 non-null  object
 5   Weapon           89833 non-null   object
 6   Post             264286 non-null  float64
 7   District         264435 non-null  object
 8   Neighborhood     262623 non-null  object
 9   Location 1       262694 non-null  object
 10  Total Incidents  264496 non-null  int64
dtypes: float64(1), int64(1), object(9)
memory usage: 22.2+ MB

In [384]:
# as we saw there are many null values in columns so we are making a list of columns
column=['Location','Description','Weapon','Post','District','Neighborhood','Location 1']

In [385]:
# we are not dropping null values beacuse we have to maintain quality of data and these columns are important ,dropping this values we might get inappropriate result
# we are filling this values with 0
data[column]=data[column].fillna(0)

In [386]:
# checking for null values are filled with 0 or not
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264496 entries, 0 to 264495
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CrimeDate        264496 non-null  object
 1   CrimeTime        264496 non-null  object
 2   CrimeCode        264496 non-null  object
 3   Location         264496 non-null  object
 4   Description      264496 non-null  object
 5   Weapon           264496 non-null  object
 6   Post             264496 non-null  float64
 7   District         264496 non-null  object
 8   Neighborhood     264496 non-null  object
 9   Location 1       264496 non-null  object
 10  Total Incidents  264496 non-null  int64
dtypes: float64(1), int64(1), object(9)
memory usage: 22.2+ MB

# 1) Crime Date

In [387]:
# selecting crimedate column
data['CrimeDate']

0         06/18/2016
1         06/18/2016
2         06/18/2016
3         06/18/2016
4         06/18/2016
             ...
264491    01/01/2011
264492    01/01/2011
264493    01/01/2011
264494    01/01/2011
264495    01/01/2011
Name: CrimeDate, Length: 264496, dtype: object

# Changing datatype from object to datetime

In [388]:
# pd.to_datetime is used to change the datatype in date
data.CrimeDate= pd.to_datetime(data['CrimeDate'])
data.CrimeDate

0        2016-06-18
1        2016-06-18
2        2016-06-18
3        2016-06-18
4        2016-06-18
            ...
264491   2011-01-01
264492   2011-01-01
264493   2011-01-01
264494   2011-01-01
264495   2011-01-01
Name: CrimeDate, Length: 264496, dtype: datetime64[ns]

# Extracting day from Date

In [389]:
data['day']=data['CrimeDate'].dt.day
data.day

0         18
1         18
2         18
3         18
4         18
          ..
264491     1
264492     1
264493     1
264494     1
264495     1
Name: day, Length: 264496, dtype: int64

# on which dates crime took place

In [390]:
# every day crime took place
data.day.unique()

array([18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,
        1, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19],
      dtype=int64)

# on which date most of the crimes took place

In [391]:
# we can see that most crimes took place at 1 date
data.day.value_counts()

1     9548
15    9099
27    8978
20    8959
14    8878
28    8851
22    8811
10    8788
21    8749
25    8738
17    8733
5     8708
23    8701
18    8700
11    8679
16    8669
13    8667
19    8666
12    8631
6     8570
24    8560
8     8555
7     8553
26    8478
9     8473
4     8467
2     8366
3     8104
29    7987
30    7798
31    5032
Name: day, dtype: int64

# Extracting month from date

In [392]:
data['month']=data['CrimeDate'].dt.month
data.month

0         6
1         6
2         6
3         6
4         6
         ..
264491    1
264492    1
264493    1
264494    1
264495    1
Name: month, Length: 264496, dtype: int64

# in which months crime took place

In [393]:
# every month crime took place
data.month.unique()

array([ 6,  5,  4,  3,  2,  1, 12, 11, 10,  9,  8,  7], dtype=int64)

# in which month the crime was high

In [394]:
# from 5 month most of the crime took place

data.month.value_counts()

5     26304
6     24200
4     23555
3     22596
7     22517
8     22480
10    21881
1     21720
9     21272
11    20075
12    19832
2     18064
Name: month, dtype: int64

# extracting year from the dates

In [395]:
data['year']=data['CrimeDate'].dt.year
data.year

0         2016
1         2016
2         2016
3         2016
4         2016
          ...
264491    2011
264492    2011
264493    2011
264494    2011
264495    2011
Name: year, Length: 264496, dtype: int64

# in which years most crimes happened

In [396]:
# most of the crime took place in 2011
data.year.value_counts()

2011    50651
2012    49561
2013    49542
2015    48711
2014    45958
2016    20073
Name: year, dtype: int64

# finding on which weekday most of the crimes took place

In [397]:
# defining a function which calculates weekday
def days_to_week(date_value):
    return date_value.weekday()

In [398]:
# using apply() method to apply function on each value of date column
data['days_of_week']=data['CrimeDate'].apply(days_to_week)

In [399]:
# we can see that every weekday crime happened
data.days_of_week.unique()

array([5, 4, 3, 2, 1, 0, 6], dtype=int64)

In [400]:
# on friday most of the crimes took place
# Get the day of the week (Monday is 0, Sunday is 6)
data.days_of_week.value_counts()

4    40179
0    38651
1    37714
2    37699
5    37469
3    37449
6    35335
Name: days_of_week, dtype: int64

# Most of the crime took place on 2015-04-27

In [401]:
# finding on which date most of the crimes took place
data['CrimeDate'].value_counts()

2015-04-27    418
2016-06-05    249
2011-10-14    199
2011-07-30    193
2013-12-20    192
             ...
2014-03-03     59
2015-03-05     54
2014-02-13     46
2016-01-24     45
2016-01-23     31
Name: CrimeDate, Length: 1996, dtype: int64

# 2) CrimeTime

In [402]:
data['CrimeTime']

0         00:33:00
1         00:39:00
2             0015
3         01:53:00
4         02:05:00
            ...
264491    22:15:00
264492    22:30:00
264493    23:00:00
264494    23:25:00
264495    23:38:00
Name: CrimeTime, Length: 264496, dtype: object

In [403]:
# we can see that crime time is not in right format
data.CrimeTime.unique()

array(['00:33:00', '00:39:00', '0015', ..., '05:55:45', '16:41:10',
       '19:45:30'], dtype=object)

In [404]:
# defining a function to convert the time in correct format.
# F-strings make the code more readable by allowing us to embed variables directly within the string, eliminating the need for concatenation
# using replace method to remove the colon and finding whether the time contains 6 digits or not if not we are filling it with zfill
def standardize_time(t):
    t = t.replace(':', '').zfill(6)
    return f"{t[:2]}:{t[2:4]}:{t[4:6]}"

In [405]:
# applying function on time
data['standardized_time'] = data['CrimeTime'].apply(standardize_time)
data

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Weapon,Post,District,Neighborhood,Location 1,Total Incidents,day,month,year,days_of_week,standardized_time
0,2016-06-18,00:33:00,4E,2700 CHESLEY AVE,I,HANDS,424.0,NORTHEASTERN,North Harford Road,"(39.3679000000, -76.5555900000)",1,18,6,2016,5,00:33:00
1,2016-06-18,00:39:00,4B,2700 FAIT AVE,O,KNIFE,232.0,SOUTHEASTERN,Canton,"(39.2831500000, -76.5783400000)",1,18,6,2016,5,00:39:00
2,2016-06-18,0015,9S,2400 CYLBURN AV,Outside,FIREARM,532.0,NORTHERN,Levindale,"(39.3510400000, -76.6597600000)",1,18,6,2016,5,00:00:15
3,2016-06-18,01:53:00,3AF,2300 ORLEANS ST,O,FIREARM,221.0,SOUTHEASTERN,McElderry Park,"(39.2955600000, -76.5844600000)",1,18,6,2016,5,01:53:00
4,2016-06-18,02:05:00,6C,800 N WOLFE ST,I,0,321.0,EASTERN,Middle East,"(39.3002700000, -76.5909700000)",1,18,6,2016,5,02:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264491,2011-01-01,22:15:00,4D,6800 MCCLEAN BD,I,HANDS,423.0,NORTHEASTERN,Hamilton Hills,"(39.3704700000, -76.5670500000)",1,1,1,2011,5,22:15:00
264492,2011-01-01,22:30:00,6J,3000 ODONNELL ST,I,0,232.0,SOUTHEASTERN,Canton,"(39.2804600000, -76.5727300000)",1,1,1,2011,5,22:30:00
264493,2011-01-01,23:00:00,7A,2500 ARUNAH AV,O,0,721.0,WESTERN,Evergreen Lawn,"(39.2954200000, -76.6592800000)",1,1,1,2011,5,23:00:00
264494,2011-01-01,23:25:00,4E,100 N MONROE ST,I,HANDS,714.0,WESTERN,Penrose/Fayette Street Outreach,"(39.2899900000, -76.6470700000)",1,1,1,2011,5,23:25:00
264495,2011-01-01,23:38:00,4D,800 N FREMONT AV,I,HANDS,123.0,WESTERN,Upton,"(39.2981200000, -76.6339100000)",1,1,1,2011,5,23:38:00

In [406]:
data.standardized_time.value_counts()

18:00:00    6615
17:00:00    6362
16:00:00    5972
12:00:00    5778
20:00:00    5717
            ...
12:45:01       1
04:08:16       1
15:31:01       1
00:56:58       1
19:45:30       1
Name: standardized_time, Length: 4045, dtype: int64

In [407]:
# dropping crimetime column
data= data.drop(['CrimeTime'], axis=1)

In [408]:
data

,CrimeDate,CrimeCode,Location,Description,Weapon,Post,District,Neighborhood,Location 1,Total Incidents,day,month,year,days_of_week,standardized_time
0,2016-06-18,4E,2700 CHESLEY AVE,I,HANDS,424.0,NORTHEASTERN,North Harford Road,"(39.3679000000, -76.5555900000)",1,18,6,2016,5,00:33:00
1,2016-06-18,4B,2700 FAIT AVE,O,KNIFE,232.0,SOUTHEASTERN,Canton,"(39.2831500000, -76.5783400000)",1,18,6,2016,5,00:39:00
2,2016-06-18,9S,2400 CYLBURN AV,Outside,FIREARM,532.0,NORTHERN,Levindale,"(39.3510400000, -76.6597600000)",1,18,6,2016,5,00:00:15
3,2016-06-18,3AF,2300 ORLEANS ST,O,FIREARM,221.0,SOUTHEASTERN,McElderry Park,"(39.2955600000, -76.5844600000)",1,18,6,2016,5,01:53:00
4,2016-06-18,6C,800 N WOLFE ST,I,0,321.0,EASTERN,Middle East,"(39.3002700000, -76.5909700000)",1,18,6,2016,5,02:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264491,2011-01-01,4D,6800 MCCLEAN BD,I,HANDS,423.0,NORTHEASTERN,Hamilton Hills,"(39.3704700000, -76.5670500000)",1,1,1,2011,5,22:15:00
264492,2011-01-01,6J,3000 ODONNELL ST,I,0,232.0,SOUTHEASTERN,Canton,"(39.2804600000, -76.5727300000)",1,1,1,2011,5,22:30:00
264493,2011-01-01,7A,2500 ARUNAH AV,O,0,721.0,WESTERN,Evergreen Lawn,"(39.2954200000, -76.6592800000)",1,1,1,2011,5,23:00:00
264494,2011-01-01,4E,100 N MONROE ST,I,HANDS,714.0,WESTERN,Penrose/Fayette Street Outreach,"(39.2899900000, -76.6470700000)",1,1,1,2011,5,23:25:00
264495,2011-01-01,4D,800 N FREMONT AV,I,HANDS,123.0,WESTERN,Upton,"(39.2981200000, -76.6339100000)",1,1,1,2011,5,23:38:00

# 3) CrimeCode

In [409]:
# observing crimecode
data.iloc[:,1]

0          4E
1          4B
2          9S
3         3AF
4          6C
         ...
264491     4D
264492     6J
264493     7A
264494     4E
264495     4D
Name: CrimeCode, Length: 264496, dtype: object

In [410]:
# checking for how many crime codes are their with their sum
data.CrimeCode.value_counts()

4E     44691
6D     36261
5A     25561
7A     23080
6G     15468
       ...
8CV        4
8FV        4
6K         3
3LK        1
8DO        1
Name: CrimeCode, Length: 81, dtype: int64

In [411]:
# only 10 i can find is different from other codes which dont have any alphabate
data.CrimeCode.unique()

array(['4E', '4B', '9S', '3AF', '6C', '4C', '5D', '6G', '5A', '6H', '4F',
       '6D', '3GO', '5C', '5B', '4A', '6E', '7A', '3B', '6B', '3D', '6J',
       '3CK', '3NO', '7C', '8H', '5F', '4D', '3K', '3GK', '3H', '3AJF',
       '8EO', '3BJ', '3AK', '8AO', '6A', '3AO', '1F', '3CO', '6F', '5E',
       '3CF', '2A', '8BO', '3F', '3P', '3NK', '3JF', '8CV', '3JK', '3GF',
       '8GV', '3JO', '7B', '8J', '3AJK', '3AJO', '6L', '3NF', '1K', '3M',
       '8EV', '3EF', '1O', '2B', '8BV', '6K', '8FO', '8AV', '3EK', '3LF',
       '8GO', '3EO', '3LK', '3LO', '8I', '8CO', '8FV', '3N', '8DO'],
      dtype=object)

# 4) Location

In [412]:
data.iloc[:,2]

0         2700 CHESLEY AVE
1            2700 FAIT AVE
2          2400 CYLBURN AV
3          2300 ORLEANS ST
4           800 N WOLFE ST
                ...
264491     6800 MCCLEAN BD
264492    3000 ODONNELL ST
264493      2500 ARUNAH AV
264494     100 N MONROE ST
264495    800 N FREMONT AV
Name: Location, Length: 264496, dtype: object

In [413]:
# finding the unique locations
data.Location.unique()

array(['2700 CHESLEY AVE', '2700 FAIT AVE', '2400 CYLBURN AV', ...,
       '4100 WINDSOR MILL RD', '0 W WILKES LN', '2000 W NORTH AVENUE'],
      dtype=object)

In [414]:
# checking for value counts of each location
data.Location.value_counts()

0                      1804
200 E PRATT ST          648
300 LIGHT ST            586
3200 TIOGA PW           438
1200 W PRATT ST         372
                       ...
4400 SOUTHERN AVE         1
3400 ROYSTON              1
4200 ROLAND VIEW AV       1
0 N FREMONT AV            1
2000 W NORTH AVENUE       1
Name: Location, Length: 24920, dtype: int64

In [415]:
# we are changing its datatype to string
data['Location'] = data['Location'].astype(str)

In [416]:
# definig a function that formats the address in proper format
# address = address.replace(' Av', 'Avenue').replace(' St', 'Street').replace(' Bd', 'Boulevard')
def format_address(address):
    address = address.title()# Capitalize each word
    return address

In [417]:
#applying function to location
data['Location']=data['Location'].apply(format_address)
data

,CrimeDate,CrimeCode,Location,Description,Weapon,Post,District,Neighborhood,Location 1,Total Incidents,day,month,year,days_of_week,standardized_time
0,2016-06-18,4E,2700 Chesley Ave,I,HANDS,424.0,NORTHEASTERN,North Harford Road,"(39.3679000000, -76.5555900000)",1,18,6,2016,5,00:33:00
1,2016-06-18,4B,2700 Fait Ave,O,KNIFE,232.0,SOUTHEASTERN,Canton,"(39.2831500000, -76.5783400000)",1,18,6,2016,5,00:39:00
2,2016-06-18,9S,2400 Cylburn Av,Outside,FIREARM,532.0,NORTHERN,Levindale,"(39.3510400000, -76.6597600000)",1,18,6,2016,5,00:00:15
3,2016-06-18,3AF,2300 Orleans St,O,FIREARM,221.0,SOUTHEASTERN,McElderry Park,"(39.2955600000, -76.5844600000)",1,18,6,2016,5,01:53:00
4,2016-06-18,6C,800 N Wolfe St,I,0,321.0,EASTERN,Middle East,"(39.3002700000, -76.5909700000)",1,18,6,2016,5,02:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264491,2011-01-01,4D,6800 Mcclean Bd,I,HANDS,423.0,NORTHEASTERN,Hamilton Hills,"(39.3704700000, -76.5670500000)",1,1,1,2011,5,22:15:00
264492,2011-01-01,6J,3000 Odonnell St,I,0,232.0,SOUTHEASTERN,Canton,"(39.2804600000, -76.5727300000)",1,1,1,2011,5,22:30:00
264493,2011-01-01,7A,2500 Arunah Av,O,0,721.0,WESTERN,Evergreen Lawn,"(39.2954200000, -76.6592800000)",1,1,1,2011,5,23:00:00
264494,2011-01-01,4E,100 N Monroe St,I,HANDS,714.0,WESTERN,Penrose/Fayette Street Outreach,"(39.2899900000, -76.6470700000)",1,1,1,2011,5,23:25:00
264495,2011-01-01,4D,800 N Fremont Av,I,HANDS,123.0,WESTERN,Upton,"(39.2981200000, -76.6339100000)",1,1,1,2011,5,23:38:00

# 5) description

In [418]:
data.Description

0               I
1               O
2         Outside
3               O
4               I
           ...
264491          I
264492          I
264493          O
264494          I
264495          I
Name: Description, Length: 264496, dtype: object

In [419]:
# checking for unique values
data.Description.unique()

array(['I', 'O', 'Outside', 'Inside', 0], dtype=object)

In [420]:
# replacing i with inside and o with outside
data.Description=data.Description.replace({'I':'Inside','O':'Outside'})

In [421]:
# checking for how many crimes happened inside and outside
data.Description.value_counts()

Inside     132968
Outside    127477
0            4051
Name: Description, dtype: int64

# 6)Weapon

In [422]:
data.Weapon

0           HANDS
1           KNIFE
2         FIREARM
3         FIREARM
4               0
           ...
264491      HANDS
264492          0
264493          0
264494      HANDS
264495      HANDS
Name: Weapon, Length: 264496, dtype: object

In [423]:
# finding the unique weapons through which crime happened
data.Weapon.unique()

array(['HANDS', 'KNIFE', 'FIREARM', 0, 'OTHER'], dtype=object)

In [424]:
# "object" is a general term referring to instances of any data type, while "string" is a specific data type used for representing textual data.
# chnging the datatype to string
data.Weapon=data.Weapon.astype('str')

In [425]:
# defining a function to formate weapons as we can see we have block letters 
def format_weapon(wea):
    wea=wea.title()
    return wea

In [426]:
# applying function to each element of weapon column
data.Weapon=data.Weapon.apply(format_weapon)
data

,CrimeDate,CrimeCode,Location,Description,Weapon,Post,District,Neighborhood,Location 1,Total Incidents,day,month,year,days_of_week,standardized_time
0,2016-06-18,4E,2700 Chesley Ave,Inside,Hands,424.0,NORTHEASTERN,North Harford Road,"(39.3679000000, -76.5555900000)",1,18,6,2016,5,00:33:00
1,2016-06-18,4B,2700 Fait Ave,Outside,Knife,232.0,SOUTHEASTERN,Canton,"(39.2831500000, -76.5783400000)",1,18,6,2016,5,00:39:00
2,2016-06-18,9S,2400 Cylburn Av,Outside,Firearm,532.0,NORTHERN,Levindale,"(39.3510400000, -76.6597600000)",1,18,6,2016,5,00:00:15
3,2016-06-18,3AF,2300 Orleans St,Outside,Firearm,221.0,SOUTHEASTERN,McElderry Park,"(39.2955600000, -76.5844600000)",1,18,6,2016,5,01:53:00
4,2016-06-18,6C,800 N Wolfe St,Inside,0,321.0,EASTERN,Middle East,"(39.3002700000, -76.5909700000)",1,18,6,2016,5,02:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264491,2011-01-01,4D,6800 Mcclean Bd,Inside,Hands,423.0,NORTHEASTERN,Hamilton Hills,"(39.3704700000, -76.5670500000)",1,1,1,2011,5,22:15:00
264492,2011-01-01,6J,3000 Odonnell St,Inside,0,232.0,SOUTHEASTERN,Canton,"(39.2804600000, -76.5727300000)",1,1,1,2011,5,22:30:00
264493,2011-01-01,7A,2500 Arunah Av,Outside,0,721.0,WESTERN,Evergreen Lawn,"(39.2954200000, -76.6592800000)",1,1,1,2011,5,23:00:00
264494,2011-01-01,4E,100 N Monroe St,Inside,Hands,714.0,WESTERN,Penrose/Fayette Street Outreach,"(39.2899900000, -76.6470700000)",1,1,1,2011,5,23:25:00
264495,2011-01-01,4D,800 N Fremont Av,Inside,Hands,123.0,WESTERN,Upton,"(39.2981200000, -76.6339100000)",1,1,1,2011,5,23:38:00

In [427]:
data.Weapon.value_counts()

0          174663
Hands       48252
Firearm     19046
Other       13333
Knife        9202
Name: Weapon, dtype: int64

# 7) Post

In [428]:
data.Post

0         424.0
1         232.0
2         532.0
3         221.0
4         321.0
          ...
264491    423.0
264492    232.0
264493    721.0
264494    714.0
264495    123.0
Name: Post, Length: 264496, dtype: float64

In [429]:
# post are the no. of posts which is posted on crimes
data.Post=data.Post.astype(int)

In [430]:
# checking for the unique number of posts
data.Post.unique()

array([424, 232, 532, 221, 321, 241, 941, 111, 213, 733, 812, 442, 842,
       931, 212, 643, 343, 331, 223, 814, 731, 632, 633, 841, 522, 621,
       423, 523, 543, 142, 913, 513, 942, 612, 112, 614, 113, 932, 141,
       441, 323, 332, 242, 444, 514, 443, 512, 921, 433, 631, 922, 412,
       722, 714, 831, 123, 822, 411, 823, 923, 642, 432, 531, 233, 533,
       211, 511, 133, 911, 313, 222, 743, 342, 121, 224, 132, 713, 131,
       934, 844, 541, 721, 613, 425, 243, 811, 641, 333, 723, 843, 414,
       832, 813, 231, 711, 143, 732, 622, 943, 521, 312, 415, 445, 542,
       712, 623, 413, 821, 421, 833, 422, 912, 431, 935, 742, 311, 426,
       611, 741, 322, 634, 434, 933, 524, 341, 835, 122, 624,   0, 214,
       944, 534, 924, 836, 625, 725, 536, 234, 626, 436, 315, 826, 115,
       526, 815, 715, 435, 134, 735, 824, 217, 527, 525, 736, 945, 325,
       635, 535, 334, 144, 914, 135, 834,   2, 615, 515, 324, 314, 516,
       427, 816, 724, 215, 114, 124, 925])

In [431]:
# checking for value counts of post
data.Post.value_counts()

111    8988
212    4649
922    4296
211    4233
432    4133
       ...
314       2
115       2
816       1
2         1
914       1
Name: Post, Length: 176, dtype: int64

# 8) District

In [432]:
data.District

0         NORTHEASTERN
1         SOUTHEASTERN
2             NORTHERN
3         SOUTHEASTERN
4              EASTERN
              ...
264491    NORTHEASTERN
264492    SOUTHEASTERN
264493         WESTERN
264494         WESTERN
264495         WESTERN
Name: District, Length: 264496, dtype: object

In [433]:
# changing datatype from object to string
data.District=data.District.astype(str)

In [434]:
# finding the unique regions
data.District.unique()

array(['NORTHEASTERN', 'SOUTHEASTERN', 'NORTHERN', 'EASTERN', 'SOUTHERN',
       'CENTRAL', 'WESTERN', 'SOUTHWESTERN', 'NORTHWESTERN', '0'],
      dtype=object)

In [435]:
# formatting regions
def format_region(regi):
    regi=regi.replace('NORTHEASTERN','NORTH-EASTERN').replace('SOUTHEASTERN','SOUTH-EASTERN').replace('SOUTHWESTERN','SOUTH-WESTERN').replace('NORTHWESTERN','NORTH-WESTERN')
    regi=regi.title()
    return regi

In [436]:
# appling the correct formate of regions
data.District= data.District.apply(format_region)

In [437]:
# changing name of column because these are regions not districts
data=data.rename(columns={'District': 'Regions'})
data

,CrimeDate,CrimeCode,Location,Description,Weapon,Post,Regions,Neighborhood,Location 1,Total Incidents,day,month,year,days_of_week,standardized_time
0,2016-06-18,4E,2700 Chesley Ave,Inside,Hands,424,North-Eastern,North Harford Road,"(39.3679000000, -76.5555900000)",1,18,6,2016,5,00:33:00
1,2016-06-18,4B,2700 Fait Ave,Outside,Knife,232,South-Eastern,Canton,"(39.2831500000, -76.5783400000)",1,18,6,2016,5,00:39:00
2,2016-06-18,9S,2400 Cylburn Av,Outside,Firearm,532,Northern,Levindale,"(39.3510400000, -76.6597600000)",1,18,6,2016,5,00:00:15
3,2016-06-18,3AF,2300 Orleans St,Outside,Firearm,221,South-Eastern,McElderry Park,"(39.2955600000, -76.5844600000)",1,18,6,2016,5,01:53:00
4,2016-06-18,6C,800 N Wolfe St,Inside,0,321,Eastern,Middle East,"(39.3002700000, -76.5909700000)",1,18,6,2016,5,02:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264491,2011-01-01,4D,6800 Mcclean Bd,Inside,Hands,423,North-Eastern,Hamilton Hills,"(39.3704700000, -76.5670500000)",1,1,1,2011,5,22:15:00
264492,2011-01-01,6J,3000 Odonnell St,Inside,0,232,South-Eastern,Canton,"(39.2804600000, -76.5727300000)",1,1,1,2011,5,22:30:00
264493,2011-01-01,7A,2500 Arunah Av,Outside,0,721,Western,Evergreen Lawn,"(39.2954200000, -76.6592800000)",1,1,1,2011,5,23:00:00
264494,2011-01-01,4E,100 N Monroe St,Inside,Hands,714,Western,Penrose/Fayette Street Outreach,"(39.2899900000, -76.6470700000)",1,1,1,2011,5,23:25:00
264495,2011-01-01,4D,800 N Fremont Av,Inside,Hands,123,Western,Upton,"(39.2981200000, -76.6339100000)",1,1,1,2011,5,23:38:00

In [438]:
data.Regions.value_counts()

North-Eastern    42202
South-Eastern    36646
Central          31150
Southern         30376
Northern         29616
North-Western    26546
South-Western    24141
Eastern          22294
Western          21464
0                   61
Name: Regions, dtype: int64

# 9) Neighborhood

In [439]:
data.Neighborhood.unique()

array(['North Harford Road', 'Canton', 'Levindale', 'McElderry Park',
       'Middle East', 'Bayview', 'Carroll - Camden Industrial Area',
       'Downtown', 'Fells Point', 'Penn North', 'Mount Holly',
       'Belair-Edison', 'Shipley Hill', 'Barre Circle',
       'Upper Fells Point', 'East Arlington', 'Oliver', 'Broadway East',
       'Baltimore Highlands', 'Franklintown Road', 'Parkview/Woodbrook',
       'Dunbar-Broadway', 'Cross Country', 'Arlington',
       'Carrollton Ridge', 'Glen Oaks', 'West Arlington',
       'Hamilton Hills', 'Mid-Govans', 'Waverly', 'Mount Vernon',
       'Brooklyn', 'Better Waverly', 'Riverside', 'Park Circle',
       'Inner Harbor', 'Winchester', 'Central Park Heights',
       'Downtown West', 'Washington Village/Pigtown',
       'Mid-Town Belvedere', 'Pulaski Industrial Area', 'Madison-Eastend',
       'Berea', 'Frankford', 'Mondawmin', 'Old Goucher', 'Hollins Market',
       'Oakenshawe', 'Westport', 'Orchard Ridge', 'Reisterstown Station',
       'Cherry Hill', 'Ednor Gardens-Lakeside', 'Pimlico Good Neighbors',
       'South Clifton Park', 'Midtown-Edmondson', 'Dolfield', 'CARE',
       'Penrose/Fayette Street Outreach', 'Morrell Park',
       'Charles Village', 'Upton', 'Hunting Ridge', 'Greenmount West',
       'Coldstream Homestead Montebello', 'Westgate', 'Lakeland',
       'Forest Park', 'Jones Falls Area', 'Washington Hill',
       'Canton Industrial Area', 'Milton-Montford', 'Fallstaff',
       'Mount Washington', 'Jonestown', 'Pleasant View Gardens',
       'Ashburton', 'Reservoir Hill', 'Rosebank', 'Federal Hill',
       'Curtis Bay', 'Gay Street', 'Patterson Park Neighborhood',
       'Barclay', 'Sandtown-Winchester', 'East Baltimore Midway',
       'University Of Maryland', 'Patterson Park', 'Greektown',
       'Boyd-Booth', 'Ellwood Park/Monument', "Butcher's Hill",
       'Madison Park', 'Harlem Park', 'Druid Heights', 'Mount Winans',
       'Parkside', 'Edgewood', 'Lake Walker', 'Medfield',
       'Rosemont Homeowners/Tenants', 'Glenham-Belhar',
       'Concerned Citizens Of Forest Park', 'Broening Manor', 'Walbrook',
       'Little Italy', 'South Baltimore', 'Glen', 0, 'Hanlon-Longwood',
       'Orangeville', 'Charles North', 'Evesham Park',
       'Bridgeview/Greenlawn', 'Lower Edmondson Village', 'Idlewood',
       'Allendale', 'Patterson Place', 'Violetville', 'West Forest Park',
       'Millhill', 'Hoes Heights', 'Northwest Community Action',
       'Highlandtown', 'Franklin Square', 'Windsor Hills', 'Cheswolde',
       'Gwynns Falls', 'Wyman Park', 'Seton Hill', 'Howard Park',
       'Lake Evesham', 'Mosher', 'York-Homeland', 'Lucille Park',
       'Dorchester', 'Oldtown', 'Homeland', 'Bolton Hill', 'Loch Raven',
       'Saint Josephs', 'Cedmont', 'Tuscany-Canterbury', 'Rosemont East',
       'Pen Lucy', 'Hillen', 'Evergreen Lawn', 'Oaklee',
       'Langston Hughes', 'Poppleton', 'Woodmere', 'Medford',
       'Grove Park', 'New Northwood', 'Locust Point Industrial Area',
       'Wakefield', 'Druid Hill Park', 'Port Covington', 'Lauraville',
       'Beechfield', 'Belair-Parkside', 'Fairfield Area', 'Westfield',
       "O'Donnell Heights", 'Clifton Park', 'Mayfield', 'Biddle Street',
       'New Southwest/Mount Clare', 'Morgan State University',
       'Carroll-South Hilton', 'Middle Branch/Reedbird Parks',
       'Perkins Homes', 'Carroll Park', 'Edmondson Village', 'Guilford',
       'West Hills', 'Cedonia', 'Callaway-Garrison', 'Union Square',
       'Remington', 'Parklane', 'Armistead Gardens', 'Irvington',
       'Orangeville Industrial Area', 'Ten Hills', 'Tremont',
       'Graceland Park', 'Cylburn', 'North Roland Park/Poplar Hill',
       'Easterwood', 'Hampden', 'Franklintown', 'Roland Park',
       'Penn-Fallsway', 'Rognel Heights', 'Otterbein', 'Yale Heights',
       'Greenspring', 'Waltherson', 'Burleith-Leighton',
       'Johnston Square', 'Arcadia', 'Four By Four', 'Heritage Crossing',
       'Greenmount Cemetery', 'Coppin Heights/Ash-Co-East',
       'Cameron Village', 'Kernewood', 'Winston-Govans',
       "Ridgely's Delight", 'Coldspring', 'Uplands',
       'Seton Business Park', 'Beverly Hills', 'Garwyn Oaks',
       'Original Northwood', 'Rosemont', 'Sharp-Leadenhall',
       'Wilhelm Park', 'Moravia-Walther', 'Eastwood', 'Perring Loch',
       'Brewers Hill', 'Woodbourne-McCabe', 'Harwood', 'Fairmont',
       'Cedarcroft', 'Woodberry', 'Towanda-Grantley', 'Cross Keys',
       'Sabina-Mattfeldt', 'Ramblewood', 'Darley Park', 'Liberty Square',
       'Saint Agnes', 'Abell', 'Loyola/Notre Dame', 'Hopkins Bayview',
       'Kenilworth Park', 'Panway/Braddish Avenue', 'Keswick',
       'Stadium Area', 'Gwynns Falls/Leakin Park', 'Wilson Park',
       'Evergreen', 'Morgan Park', 'Curtis Bay Industrial Area',
       'Overlea', 'Belvedere', 'Locust Point', 'Dickeyville',
       'Richnor Springs', 'Wrenlane', 'Montebello', 'Central Forest Park',
       'Spring Garden Industrial Area', 'Purnell', 'Kresson',
       'Woodbourne Heights', 'Saint Helena', 'Forest Park Golf Course',
       'Chinquapin Park', 'Radnor-Winston', 'Taylor Heights',
       'Hawkins Point', 'Bellona-Gittings', 'Johns Hopkins Homewood',
       'Stonewood-Pentwood-Winston', 'Holabird Industrial Park',
       'Wyndhurst', 'Saint Paul', 'Herring Run Park',
       'Villages Of Homeland', 'Lower Herring Run Park', 'The Orchards',
       'Blythewood', 'Mt Pleasant Park', 'Dundalk Marine Terminal'],
      dtype=object)

In [440]:
# checking for value counts


data.Neighborhood.value_counts()

Downtown                   8890
Frankford                  6320
Belair-Edison              5696
Brooklyn                   4033
Cherry Hill                3951
                           ...
Villages Of Homeland         32
Greenmount Cemetery          22
Mt Pleasant Park             12
Blythewood                    4
Dundalk Marine Terminal       1
Name: Neighborhood, Length: 279, dtype: int64

# 10) Location1

In [441]:
data['Location 1']

0         (39.3679000000, -76.5555900000)
1         (39.2831500000, -76.5783400000)
2         (39.3510400000, -76.6597600000)
3         (39.2955600000, -76.5844600000)
4         (39.3002700000, -76.5909700000)
                       ...
264491    (39.3704700000, -76.5670500000)
264492    (39.2804600000, -76.5727300000)
264493    (39.2954200000, -76.6592800000)
264494    (39.2899900000, -76.6470700000)
264495    (39.2981200000, -76.6339100000)
Name: Location 1, Length: 264496, dtype: object

In [442]:
# checking for unique values
data['Location 1'].unique()

array(['(39.3679000000, -76.5555900000)',
       '(39.2831500000, -76.5783400000)',
       '(39.3510400000, -76.6597600000)', ...,
       '(39.3704700000, -76.5670500000)',
       '(39.2804600000, -76.5727300000)',
       '(39.2954200000, -76.6592800000)'], dtype=object)

In [443]:
data['Location 1'].value_counts()

0                                  1802
(39.3180000000, -76.6582100000)     625
(39.2850000000, -76.6130900000)     496
(39.2865900000, -76.6120400000)     406
(39.2876100000, -76.5398200000)     405
                                   ...
(39.3544800000, -76.6118700000)       1
(39.3529700000, -76.5664600000)       1
(39.3451000000, -76.6627000000)       1
(39.3112900000, -76.6520600000)       1
(39.2954200000, -76.6592800000)       1
Name: Location 1, Length: 93260, dtype: int64

In [444]:
# renaming columns
data=data.rename(columns={'Location 1': 'Geographic_coordinates','standardized_time':'CrimeTime'})
data

,CrimeDate,CrimeCode,Location,Description,Weapon,Post,Regions,Neighborhood,Geographic_coordinates,Total Incidents,day,month,year,days_of_week,CrimeTime
0,2016-06-18,4E,2700 Chesley Ave,Inside,Hands,424,North-Eastern,North Harford Road,"(39.3679000000, -76.5555900000)",1,18,6,2016,5,00:33:00
1,2016-06-18,4B,2700 Fait Ave,Outside,Knife,232,South-Eastern,Canton,"(39.2831500000, -76.5783400000)",1,18,6,2016,5,00:39:00
2,2016-06-18,9S,2400 Cylburn Av,Outside,Firearm,532,Northern,Levindale,"(39.3510400000, -76.6597600000)",1,18,6,2016,5,00:00:15
3,2016-06-18,3AF,2300 Orleans St,Outside,Firearm,221,South-Eastern,McElderry Park,"(39.2955600000, -76.5844600000)",1,18,6,2016,5,01:53:00
4,2016-06-18,6C,800 N Wolfe St,Inside,0,321,Eastern,Middle East,"(39.3002700000, -76.5909700000)",1,18,6,2016,5,02:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264491,2011-01-01,4D,6800 Mcclean Bd,Inside,Hands,423,North-Eastern,Hamilton Hills,"(39.3704700000, -76.5670500000)",1,1,1,2011,5,22:15:00
264492,2011-01-01,6J,3000 Odonnell St,Inside,0,232,South-Eastern,Canton,"(39.2804600000, -76.5727300000)",1,1,1,2011,5,22:30:00
264493,2011-01-01,7A,2500 Arunah Av,Outside,0,721,Western,Evergreen Lawn,"(39.2954200000, -76.6592800000)",1,1,1,2011,5,23:00:00
264494,2011-01-01,4E,100 N Monroe St,Inside,Hands,714,Western,Penrose/Fayette Street Outreach,"(39.2899900000, -76.6470700000)",1,1,1,2011,5,23:25:00
264495,2011-01-01,4D,800 N Fremont Av,Inside,Hands,123,Western,Upton,"(39.2981200000, -76.6339100000)",1,1,1,2011,5,23:38:00

In [445]:
# getting the final data and arranging the columns
data=data[['CrimeDate','days_of_week','CrimeTime','Location','CrimeCode','Description','Weapon','Post','Regions','Neighborhood','Geographic_coordinates','Total Incidents']]

In [446]:
# saving the new csv file
data.to_csv('new.csv', index=False)

In [447]:
data1=data[(data.CrimeDate == '2015-04-27') & (data.days_of_week == 0) & (data.CrimeTime == '15:30:00')  &  (data.CrimeCode == '4C') & (data.Location=='2400 Liberty Heights Ave') & (data.Description == 'Outside')]
data1

,CrimeDate,days_of_week,CrimeTime,Location,CrimeCode,Description,Weapon,Post,Regions,Neighborhood,Geographic_coordinates,Total Incidents
55786,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55787,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55788,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55789,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55790,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55791,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55792,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55793,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55794,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55795,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55796,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55797,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55798,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55799,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55800,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55801,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55802,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55803,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55804,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55805,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55806,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55807,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55808,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55809,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55810,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55811,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55813,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55814,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55815,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55816,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55817,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55818,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55819,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55820,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55827,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1
55828,2015-04-27,0,15:30:00,2400 Liberty Heights Ave,4C,Outside,Other,731,Western,Mondawmin,"(39.3186800000, -76.6539900000)",1

In [ ]:
# Conclusion: Most of the Crimes took place on '2015-04-27', 'Monday' in 2011, and the Crime time was '15:30:00' ,
# and Crime code was '4C', location was '2400 Liberty Heights Ave', happened 'Outside' ,with post number '731',
# with unknown weapons , in region 'western',in neighbourhood of 'Mondawmin', at geographic coordinates '(39.3186800000, -76.6539900000)'.

In [ ]:
# predicted Conclusion:
# Date : As observing data most of the crimes likely to happen on weekday friday,monday,1st day,15th day of month and 5th,4th month of year.
# crimeTime : At time 18:00:00, 17:00:00  and 16:00:00.
# Crimecode : most of the crime codes are 4E ,6D and 5A.
# Location : At '200 E PRATT ST' ,'300 LIGHT ST' and '3200 TIOGA PW'.
# Description : Inside.
# Weapon : Hands and Firearm.
# Post : most crimes have 111 and 212 posts.
# Regions : North-Eastern ,South-Eastern ,Central.
# Neighborhood : Downtown and Frankford ,Belair-Edison.
# Geographic_coordinates : (39.3180000000, -76.6582100000),(39.2850000000, -76.6130900000) ,(39.2865900000, -76.6120400000).